/**
 * @file ProgrammingArea.css
 * @description This file contains the styles for the programming area.
 */
.programming-area {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.programming-area-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  height: 100%;
  min-width: 100%;
}

.programming-area-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4);
  background-color: white;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
}

.programming-area-controls {
  display: flex;
  gap: var(--spacing-2);
}

.programming-area-content {
  position: relative;
  flex-grow: 1;
  min-height: 400px;
  width: 100%;
  min-width: 100vw;
  padding: var(--spacing-4);
  background-color: white;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  overflow: hidden;
}

.programming-area-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 200px;
  color: var(--text-secondary);
  border: 2px dashed var(--secondary-color);
  border-radius: var(--radius-lg);
  font-size: 1.1rem;
}

.dropped-blocks {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4);
  min-width: max-content;
  height: fit-content;
}

.zoomable-container {
  border-top: 20px solid #f3f4f6;
  border-right: 20px solid #f3f4f6;
  border-left: 20px solid #f3f4f6;
}

.block {
  position: relative;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  transition: transform 0.2s ease;
  z-index: 2;
}

.block-icon.movement-icon {
  margin-bottom: -21px;
}

.block-drop-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 99, 235, 0.1);
  border: 2px dashed var(--primary-color);
  border-radius: var(--radius-md);
  pointer-events: none;
  z-index: 1;
  transition: all 0.2s ease;
  left: 0;
  top: 0;
}

.block-drop-indicator.before {
  top: -2rem;
  margin-bottom: 2rem;
}

.block-drop-indicator.after {
  bottom: -2rem;
  margin-top: 2rem;
}

.block.drop-target {
  outline: none;
  transform: translateX(4rem);
}

.block.shift-right {
  transform: translateX(4rem);
}

.block-steering {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-right: -2px !important;
  margin-top:2px;
  margin-left: -14px !important;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 113.91 163.14"><path fill="%23585758" stroke="%23000000" stroke-width="2" d="M111.91,161.14H5.58v-45.86c0-1.37-1.11-2.49-2.49-2.49h-.61c-1.37,0-2.49-1.11-2.49-2.49v-37.23c0-1.37,1.11-2.49,2.49-2.49h.61c1.37,0,2.49-1.11,2.49-2.49V.65c0-.45.45-.77.87-.61l51.1,18.46c1.75.63,3.67.61,5.41-.05L111.01.06c.43-.16.88.15.88.61v64.74c0,1.37-1.11,2.48-2.48,2.48h0c-1.37,0-2.49,1.11-2.49,2.49v42.44c0,1.37,1.11,2.49,2.49,2.49h.01c1.37,0,2.49,1.11,2.49,2.49v43.34Z"/></svg>');
  min-height: 150px !important;
}

.block-display {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 113.91 161.54"><path fill="%23ff4f14" stroke="%23000000" stroke-width="2" d="M111.91,159.54H5.58v-45.86c0-1.37-1.11-2.49-2.49-2.49h-.61c-1.37,0-2.49-1.11-2.49-2.49v-37.23c0-1.37,1.11-2.49,2.49-2.49h.61c1.37,0,2.49-1.11,2.49-2.49V27.9S17.65,10.35,41.23,2.81c12.61-4.04,25.8-3.6,38.38.55,22.35,7.37,32.3,24.54,32.3,24.54v35.92c-.01,1.37-1.13,2.48-2.5,2.48h0c-1.37,0-2.49,1.11-2.49,2.49v42.44c0,1.37,1.11,2.49,2.49,2.49h.01c1.37,0,2.49,1.11,2.49,2.49v43.34Z"/></svg>');
  min-height: 150px !important;
  color: white;
  margin-right: -10px;
}

.block-movement {
  width: 117px;
  height: 163px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 113.91 163.41"><path fill="%23003c9a" stroke="%23000000" stroke-width="2" d="M111.91,161.41H5.58v-45.86c0-1.37-1.11-2.49-2.49-2.49h-.61c-1.37,0-2.49-1.11-2.49-2.49v-37.23c0-1.37,1.11-2.49,2.49-2.49h.61c1.37,0,2.49-1.11,2.49-2.49V29.77L55.15,1.33c3.16-1.81,7.06-1.76,10.17.13l46.59,28.31v35.92c-.01,1.37-1.13,2.48-2.5,2.48h0c-1.37,0-2.49,1.11-2.49,2.49v42.44c0,1.37,1.11,2.49,2.49,2.49h.01c1.37,0,2.49,1.11,2.49,2.49v43.34Z"/></svg>');
  min-height: 150px !important;
}

.block.block-movement .block-icon-container {
  max-width: 40px;
}

.block.block-movement {
  margin-right: -10px;
}

.block {
  box-shadow: none !important;
}

.block-combination {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 113.91 163.41"><path fill="%23003c9a" stroke="%23000000" stroke-width="2" d="M111.91,161.41H5.58v-45.86c0-1.37-1.11-2.49-2.49-2.49h-.61c-1.37,0-2.49-1.11-2.49-2.49v-37.23c0-1.37,1.11-2.49,2.49-2.49h.61c1.37,0,2.49-1.11,2.49-2.49V29.77L55.15,1.33c3.16-1.81,7.06-1.76,10.17.13l46.59,28.31v35.92c-.01,1.37-1.13,2.48-2.5,2.48h0c-1.37,0-2.49,1.11-2.49,2.49v42.44c0,1.37,1.11,2.49,2.49,2.49h.01c1.37,0,2.49,1.11,2.49,2.49v43.34Z"/></svg>');
  min-height: 150px !important;
}

.block.block-combination .block-icon-container {
  max-width: 40px;
}

.block.block-combination {
  margin-right: -10px;
}

.block-sound {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-right: -10px;
  margin-top: 1px !important;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 113.91 162.57"><path fill="%23f71f66" stroke="%23000000" stroke-width="2" d="M111.91,160.57H5.58v-45.86c0-1.37-1.11-2.49-2.49-2.49h-.61c-1.37,0-2.49-1.11-2.49-2.49v-37.23c0-1.37,1.11-2.49,2.49-2.49h.61c1.37,0,2.49-1.11,2.49-2.49V29.68c0-.76.51-1.42,1.24-1.62L109.57.07c1.17-.32,2.32.56,2.32,1.77v63.01c0,1.37-1.11,2.48-2.48,2.48h0c-1.37,0-2.49,1.11-2.49,2.49v42.44c0,1.37,1.11,2.49,2.49,2.49h.01c1.37,0,2.49,1.11,2.49,2.49v43.34Z"/></svg>');
  min-height: 150px !important;
}



.block-settings {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-right: -10px;
  justify-content: center;
  align-items: center;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 113.91 163.14"><path fill="%23585758" stroke="%23000000" stroke-width="2" d="M111.91,161.14H5.58v-45.86c0-1.37-1.11-2.49-2.49-2.49h-.61c-1.37,0-2.49-1.11-2.49-2.49v-37.23c0-1.37,1.11-2.49,2.49-2.49h.61c1.37,0,2.49-1.11,2.49-2.49V.65c0-.45.45-.77.87-.61l51.1,18.46c1.75.63,3.67.61,5.41-.05L111.01.06c.43-.16.88.15.88.61v64.74c0,1.37-1.11,2.48-2.48,2.48h0c-1.37,0-2.49,1.11-2.49,2.49v42.44c0,1.37,1.11,2.49,2.49,2.49h.01c1.37,0,2.49,1.11,2.49,2.49v43.34Z"/></svg>');
  min-height: 150px !important;
}

.block-settings .block-icon-container {width:40px;}

.block:hover {
  transform: translateY(-0px);
  box-shadow: none;
}

.block-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  font-weight: 500;
}

.block-title {
  font-size: 1.1rem;
  color: black;
}

.block-description {
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.debug-view {
  margin-top: var(--spacing-4);
  padding: var(--spacing-4);
  background-color: #f8f9fa;
  border-radius: var(--radius-md);
  font-family: monospace;
}

.debug-view pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.button-execute {
  background-color: var(--success-color);
  color: white;
}

.button-execute:disabled {
  background-color: var(--secondary-color);
  opacity: 0.7;
  cursor: not-allowed;
}

.button-execute.executing {
  background-color: var(--warning-color);
  animation: pulse 2s infinite;
}

.button-clear {
  background-color: var(--error-color);
  color: var(--text-light);
  box-shadow: 0px 1px 0 black, 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius:250px !important;
  border: 3px solid #1D1D1B !important;
}

.button-clear:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.programming-area .block-input-container {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0;
  border-top: 2px solid black;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.0);
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}


.child-blocks-container .block .block-input-container {
  bottom: -10px !important;
  left: calc(50%) !important;
}

.block-input {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: var(--radius-sm);
  font-size: 0.9rem;
}

.block-input-number {
  width: 80px;
}

.block-input-select {
  width: auto;
  min-width: 120px;
}

.block-input-text {
  width: 100%;
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: var(--radius-sm);
  font-size: 0.9rem;
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.block-container {
  position: relative;
  min-height: 120px;
  min-width: 200px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
}

.programming-area .block-container::before,
.programming-area .block-container::after {
  content: '';
  position: absolute;
  background-color: transparent;
  min-height: 110px;
}

.programming-area .block-container::before {
  left: 1px;
  background-image: url("../../assets/icons/robo-repeat-block-start.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  top: 45px;
  z-index: 1000;
}

.programming-area .block-container::after {
  right: 1px;
  background-image: url("/src/assets/icons/robo-repeat-block-end.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  top: 42.2px;
  min-height: 113px;
}

.programming-area .block-container {
  position: relative;
}

.programming-area .block-container > *:first-child::after {
  content: '';
  position: absolute;
  Top: 137px;
  left: 30px;
  right: 50px;
  height: 13px;
  background-color: #95c11f;
  border-radius: 5px;
  border: 2.5px solid black;
}

.programming-area .block-container .block-input-container {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 0;
  border-top: 2px solid black;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.0);
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  z-index: 100;
}

.block-container.drag-over {
  border-color: white;
  transform: scale(1.02);
}


.block.dragging {
  opacity: 0.5;
  position: relative;
  z-index: 1000;
  transform: scale(1.05);
  transition: transform 0.2s;
}

.block.drop-target {
  transform: translateX(20px);
  transition: transform 0.2s;
}

.block-drop-indicator {
  position: absolute;
  height: 4px;
  background-color: #2563eb;
  width: 100%;
  transition: all 0.2s;
}

@media screen and (max-width: 768px) {

  .blocks-container {
    justify-content: left !important;
  }

  .zoomable-container {
    border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
  }

  .programming-area {
    box-shadow: none !important;
    border: none !important;
  }

  .programming-area-blocks {
    width: 100vw !important;
  }

}