/**
 * @file DeleteZone.css
 * @description This file contains the styles for the delete zone component.
 */
.delete-zone {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #cc0000;
  border: 3px solid #1d1d1b;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}

.delete-zone.visible {
  opacity: 1;
  pointer-events: all;
}